<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<div id="app">
    <template>
        <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="data" label="日期" width="180">
            </el-table-column>
            <el-table-column prop="name" label="姓名" width="180">
            </el-table-column>
            <el-table-column prop="address" label="地址">
            </el-table-column>
        </el-table>
    </template>
    <div>
        <input v-model="input.data"  type="text"/>
        <input v-model="input.name"  type="text"/>
        <input v-model="input.address"  type="text"/>
    </div>
    <el-steps :space="100" :active="active">
        <el-step title="步骤 1" icon="edit"></el-step>
        <el-step title="步骤 2" icon="upload"></el-step>
        <el-step title="步骤 3" icon="picture"></el-step>
    </el-steps>
    <button @click="add"></button>
    <ul v-for="a in item">
        <li>{{a}}</li>
    </ul>
</div>
</body>
<!-- 先引入 Vue -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    var a = {};
    var Main = {
        data() {
            return {
                tableData: [{data:1,name:2,address:3}],
                input:{data:"",name:"",address:""},
                active:1,
                item:[{msg:1},{msg:2},{msg:3}]
            }
        },
        methods:{
            add(){
                var input = fomt.$data.input;
                var json = {data:input.data,name:input.name,address:input.address}
                fomt.$data.tableData.push(json);
            }
        }
    }
    var Ctor = Vue.extend(Main)
    var fomt = new Ctor().$mount('#app')
</script>
</html>