<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/layout.css">
</head>
<body>
<div id="app">
    <p class="text-center">基础布局部分</p>
    <el-row>
        <el-col :span="24"><div class="grid-content bg-purple-dark text-center">span24</div></el-col>
    </el-row>
    <el-row>
        <el-col :span="12"><div class="grid-content bg-purple text-center">span12</div></el-col>
        <el-col :span="12"><div class="grid-content bg-purple-light text-center">span12</div></el-col>
    </el-row>
    <el-row>
        <el-col :span="8"><div class="grid-content bg-purple text-center">span8</div></el-col>
        <el-col :span="8"><div class="grid-content bg-purple-light text-center">span8</div></el-col>
        <el-col :span="8"><div class="grid-content bg-purple text-center">span8</div></el-col>
    </el-row>
    <el-row>
        <el-col :span="6"><div class="grid-content bg-purple text-center">span6</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple-light text-center">span6</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple text-center">span6</div></el-col>
        <el-col :span="6"><div class="grid-content bg-purple-light text-center">span6</div></el-col>
    </el-row>
    <el-row>
        <el-col :span="4"><div class="grid-content bg-purple text-center">span4</div></el-col>
        <el-col :span="4"><div class="grid-content bg-purple-light text-center">span4</div></el-col>
        <el-col :span="4"><div class="grid-content bg-purple text-center">span4</div></el-col>
        <el-col :span="4"><div class="grid-content bg-purple-light text-center">span4</div></el-col>
        <el-col :span="4"><div class="grid-content bg-purple text-center">span4</div></el-col>
        <el-col :span="4"><div class="grid-content bg-purple-light text-center">span4</div></el-col>
    </el-row>
    <p class="text-align">按钮部分</p>
    <el-row>
        <el-col :span="8">
            <p class="text-center bg-blue-dark text-white">正常按钮</p>
            <el-button>默认按钮</el-button>
            <el-button type="primary">主要按钮</el-button>
            <el-button type="text">纯文字按钮</el-button>
            <el-button type="primary" :loading="true">加载中</el-button>
        </el-col>
        <el-col :span="8">
            <p class="text-center bg-blue-dark text-white">禁用按钮</p>
            <el-button :plain="true" :disabled="true">主要按钮</el-button>
            <el-button type="primary" :disabled="true">主要按钮</el-button>
            <el-button :plain="true" :disabled="true">文字按钮</el-button>
        </el-col>
        <el-col :span="8">
            <p class="text-center bg-blue-dark text-white">颜色按钮</p>
            <el-button type="success">成功按钮</el-button>
            <el-button type="warning">警告按钮</el-button>
            <el-button type="danger">危险按钮</el-button>
            <el-button type="info">信息按钮</el-button>
            <p class="text-center bg-blue-dark text-white">hover显示颜色</p>
            <el-button :plain="true" type="success">成功按钮</el-button>
            <el-button :plain="true" type="warning">警告按钮</el-button>
            <el-button :plain="true" type="danger">危险按钮</el-button>
            <el-button :plain="true" type="info">信息按钮</el-button>
        </el-col>
    </el-row>
    <el-row>
        <el-col :span="8">
            <p class="text-center text-white bg-blue-dark">radio</p>
            <template>
                <el-radio class="radio" v-model="radio" label="1">备选项</el-radio>
                <el-radio class="radio" v-model="radio" label="2">备选项</el-radio>
            </template>
            <p class="text-center text-white bg-blue-dark">radio禁用状态</p>
            <template>
                <el-radio class="radio" disabled v-model="radio" label="1">备选项</el-radio>
                <el-radio class="radio" disabled v-model="radio" label="2">备选项</el-radio>
            </template>
        </el-col>
        <el-col :span="8">
            <p class="text-center text-white bg-blue-dark">radio</p>
            <template>
                <el-radio-group v-model="radio3">
                    <el-radio-button label="上海"></el-radio-button>
                    <el-radio-button label="北京"></el-radio-button>
                    <el-radio-button label="广州"></el-radio-button>
                    <el-radio-button label="深圳"></el-radio-button>
                </el-radio-group>
                <div style="margin: 15px 0;"></div>
                <el-radio-group v-model="radio4">
                    <el-radio-button label="上海"></el-radio-button>
                    <el-radio-button label="北京" :disabled="true"></el-radio-button>
                    <el-radio-button label="广州"></el-radio-button>
                    <el-radio-button label="深圳"></el-radio-button>
                </el-radio-group>
                <div style="margin: 15px 0;"></div>
                <el-radio-group v-model="radio5" :disabled="true">
                    <el-radio-button label="上海"></el-radio-button>
                    <el-radio-button label="北京"></el-radio-button>
                    <el-radio-button label="广州"></el-radio-button>
                    <el-radio-button label="深圳"></el-radio-button>
                </el-radio-group>
            </template>
        </el-col>
        <el-col :span="8"></el-col>
    </el-row>
</div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="js/element-ui/lib/index.js"></script>
<script type="text/javascript">
    var Main={
        data(){
            return{
                radio:'1',
                radio1:'4',
                radio3: '上海',
                radio4: '上海',
                radio5: '上海'
            }
        }
    }
    var Ctor = Vue.extend(Main);
    var fomt = new Ctor().$mount('#app');
</script>
</html>