.left-content{
    width:330px;
    height:723px;
    background-color:#2e3238;
}
.mid-content{
    width:908px;
}

.tab-inner-title{
    background-image:url(../images/tab-inner-title.png);
    background-repeat:no-repeat;
}
.content-background-color{
    background-color:#3f79ac;
}
.left-content-tab1-content{
    height:233px;
}
.pad-15{
    padding:15px
}
.search-color{
    background-color: #26292e;
    border: 1px solid #2e3238;
    color:#fff
}
.search-area{
    position:relative;
    margin-top:20px
}
.searchIcon{
    position: absolute;
    top: 11px;
    left: 9px;
}
.tab-menu{
    display:block;
    width:33.333%;
}
.pad-15{
    padding:15px
}
.tab-item{
    height:88px;
    padding:14px 0;
    margin-left: 6px;
    border-bottom: 1px solid #000;
}
.right-content{
    width:872px;
    height:722px;
    background-color:#f2f2f2;
    color:#000;
}
.mCSB_inside > .mCSB_container{
    margin-right:0px
}
.tab-item-textBox{
    width:95%;
    padding:5px;
}
.textBox-active{
    background-color:#3a3f45
}
.tab-hide{
    display:none;
}
.tab-item-title{
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    width: 254px;
    white-space: nowrap;
}
.tab-item-textBox a{
    color:#fff;
}

.tab-item-sub{
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    width: 240px;
    white-space: nowrap;
}
.tab2-item-sub{
    overflow: hidden;
    height: 64px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: justify;
    padding: 7px;
}
.tab-item-file
{
    overflow: hidden;
    height: 20px;
    text-overflow: ellipsis;
    width: 215px;
    white-space: nowrap;
}
.tab2-item{
    height:125px;
    padding:14px 0;
    margin-left: 6px;
    border-bottom: 1px solid #000;
}
.tab3-item{
    height:50px;
    padding:14px 0;
    margin-left: 6px;
    border-bottom: 1px solid #000;
}