html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html{
    display:table;
}
bodu{
    display:table-cell
}
.body-background{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.body-background>img{
    width:100%;
    height:100%;
    border:0;
}

.container{
    width:1447px;
    color:#fff;
    height:100%;
}
.header{
    width: 1156px;
    margin: 0 auto;
}
.headerTitle{
    font-size:48px;
    line-height:1.5;
    margin: 20px 26px;
}
.userImg img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.left{
    float:left;
}
.right{
    float:right;
}
.tab-head-title{
    width: 180px;
    height: 25px;
    background-image:url(../images/tab-head.png);
    background-repeat:no-repeat;
    padding-left:35px
}
.tab-content{
    overflow:auto;
    height:250px;
    background-color:rgba(45, 69, 112, 0.7);
    font-size:12px;
}
.record-date{
    border-bottom:1px solid #fff;
}
.table-content-xx th{
    color:#fff;
    background-color:#6a8cb9;
    border-left:1px solid #000;
}
.table-content-xx th{
    border-top:none !important;
    border-bottom:none;
}
.table-content-xx td{
    border-top:none !important;
    border-bottom:none;
}
.table-content-xx th:nth-last-child{
    border:none
}
.table-content-xx tbody tr:nth-child(even){
    background-color:#1c2841
}
.bottom-menu{
    width:1204px;
    height:109px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:rgba(45, 69, 112, 0.7);
    top:20px;
    left:50%;
    margin-left:-602px;
    z-index:5;
    margin: -109px auto 0 auto;
}
.bottom-menu >ul > li{
    float:left;
    margin-right:4.6%;
    margin-top:4px;
}
.bottom-menu > ul > li:nth-last-child(1){
    margin-right:0;
}
.skew{
    display:block;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
}
.progress-left{
    position: absolute;
    top: 30px;
    color: #1c2841;
    font-weight: bold;
}
.progress-right{
    position: absolute;
    top: 30px;
    right: 44px;
    color: #00c121;
    font-weight: bold;
}

.scale1-5{
    transform:scale(1.5);
}
.scale1-1{
    transform:scale(1.1);
}
.pad-20{
    padding:20px;
}
.no-border td{
    border:none !important
}
.no-pad td{
    padding:0 !important
}