html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html{
    display:table;
}
bodu{
    display:table-cell
}
.body-background{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:-1;
}
.body-background>img{
    width:100%;
    height:100%;
    border:0;
}

.container{
    width:1447px;
    color:#fff;
    height:100%;
}
.header{
    width: 1200px;
    margin: 0 auto;
}
.headerTitle{
    font-size:48px;
    line-height:1.5;
    margin: 20px 26px;
}
.userImg img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}
.left{
    float:left;
}
.right{
    float:right;
}
.tab-head-title{
    width: 180px;
    height: 25px;
    background-image:url(../images/tab-head.png);
    background-repeat:no-repeat;
    padding-left:35px
}
.tab-content{
    overflow:auto;
    height:250px;
    background-color:rgba(45, 69, 112, 0.7);
    font-size:12px;
}
.record-date{
    border-bottom:1px solid #fff;
}
.table-content-xx th{
    color:#fff;
    background-color:#6a8cb9;
    border-left:1px solid #000;
}
.table-content-xx th{
    border-top:none !important;
    border-bottom:none;
}
.table-content-xx td{
    border-top:none !important;
    border-bottom:none;
}
.table-content-xx th:nth-last-child{
    border:none
}
.table-content-xx tbody tr:nth-child(even){
    background-color:#1c2841
}
.bottom-menu{
    width:1204px;
    height:109px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color:rgba(45, 69, 112, 0.7);
    top:20px;
    left:50%;
    margin-left:-602px;
    z-index:5;
    margin: -109px auto 0 auto;
}
.bottom-menu >ul > li{
    float:left;
    margin-right:4.6%;
    margin-top:4px;
}
.bottom-menu > ul > li:nth-last-child(1){
    margin-right:0;
}
.skew{
    display:block;
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
}
.progress-left{
    position: absolute;
    top: 30px;
    color: #1c2841;
    font-weight: bold;
}
.progress-right{
    position: absolute;
    top: 30px;
    right: 44px;
    color: #00c121;
    font-weight: bold;
}

.scale1-5{
    transform:scale(1.5);
}
.scale1-1{
    transform:scale(1.1);
}
.pad-20{
    padding:20px;
}
.no-border td{
    border:none !important
}
.no-pad td{
    padding:0 !important
}
.search-input{
    background-color:rgba(103,134,177,0.7);
    color:#000;
    border:none;
}
.search-input::-webkit-input-placeholder{
    color:#000
}
.col-md-3{
    width:25%;
    float: left;
}
.col-md-6{
    width:50%;
    float:left;
}
.col-md-4{
    width:33.3333333333333%;
    float:left;
}
.editor-summary{
    margin:0 10px 10px 6px;
    padding:15px 5px 0px 5px;
    box-shadow:5px 5px 5px #e0e1e4;
    background-color: #fff;
}
.expand-list-container .tab-item-title{
    width:173px;
    color:#fff;
}
.expand-list-container .tab-item-sub{
    width:166px
}
.comment-right-border{
    border-right: 1px solid #e2e2e2;
}
.comment-left-border{
    border-left: 1px solid #e2e2e2;
    margin-left: -1px;
}
.mar-t-10{
    margin-top:10px
}
.comments-area{
    margin-bottom:30px;
    border-bottom:1px solid #e2e2e2;
    padding-bottom:20px;
}
.left-slide{
    position:absolute;
    left:0;
    top:192px;
    width:81px;
}
.left-slide-item{
    margin-bottom:5px;
}
.my-item-box{
    height:560px;
    background: linear-gradient(135deg, transparent 32px, rgba(51,102,153,0.7) 0) top left;
    width:381px;
    position:relative
}
.item-box-title-img{
    position: relative;
    top: 7px;
    left: 11px;
}
.yellow-row{
    color:#ffd35e
}
.green-row{
    color:#6cd14d
}
.blue-row{
    color:#4ea7ff
}
.el-table th{
    font-size:18px
}
.is-center{
    text-align:center;
}
