html,body{
  background:{color:#fbf7fc}
}
$mall-color:#2f92f7;
$mall-deep-color:#021b79;
$mall-number-color:#da205b;
.text-num-color{
  color:$mall-number-color
}
.main-container{
  width: 1400px;
  margin:0 auto
}
.mall-header{
  margin-top:35px;
  .header-title-img{
    margin-right:167px
  }
}
.header-search {
  width: 680px;
  height: 60px;
  margin-right:145px;
  .form-group{
    margin:{
      bottom:9px
    }
  }
  .form-control{
    width:598px;
    border:{
      radius:0px;
    }
    border: 2px solid $mall-color;
  }
  input::-webkit-input-placeholder {
    color: $mall-color !important;
}
  .bot-href{
    a{
      color:#7b5785
    }
  }
  .btn-mall{
    background-color:$mall-color;
    border-radius:0px;
    font-size:20px
  }
}
.mall-login{
  .btn-mall{
    margin-right:53px
  }
  .sign-up{
    position:relative;
    top:4px;
  }
}
.btn-mall{
  color:#fff;
  background-color:#cc2b5e;
  font-size:18px;
  width:82px;
  padding:2px;
}
.btn-mall-empty{
  background-color:#fff;
  border-color:$mall-color;
  color:$mall-color;
  width:67px;
  height:29px;
}
.text-color{
  color:$mall-color;
  font-size:18px
}
.left{
  float:left;
}
.right{
  float:right;
}

.mar-t-10{
  margin-top:10px;
}

.ul-nav-background{
  background-image:url("../images/ul-background.png");
}
.mall-nav-ul{
  padding:0px;
  li:nth-child(7){
    margin-right:0
  }
  li{
    text-align:center;
    list-style: none;
    float:left;
    line-height:2;
    margin-right:102px;
    a{
      color:#fff;
      display:block;
      font-size:20px;
      width:112px;
      height:40px
    }
    .active{
      background-color:$mall-color
    }
  }
}
.mall-nav-detail{
  li{
    margin-right:10px;
  }
  a{
    width:initial !important;
  }
}
.indexCharts{
  width:1063px;
  height:319px;
  padding-top:11px;
  background-color:#fff;
  &:nth-child(1){
    margin-bottom:15px
  }
}
.indexCharts2{
  width:1063px;
  height:290px;
  padding-top:11px;
  background-color:#fff;
}
#indexCharts1{
  width:1063px;
  height:279px;
}
#indexCharts2{
  width:1063px;
  height:244px;
}
.charts-title{
  height:21px;
  border-left:6px solid $mall-color;
  padding-left:15px;
}
.main-right-1{
  width:324px;
  height:364px;
  border-top:4px solid $mall-color;
  background-color:#fff;
  margin-left:10px;
  .text-color{
    font-size:16px;
    margin-bottom:0px
  }
}
.main-right-content{
  padding:15px;
  .btn-mall-empty{
    margin-right:42px;
    margin-bottom:15px;
  }
  .btn-mall-empty:nth-child(3n){
    margin-right:0
  }
}
.main-right-2{
  width:324px;
  height:250px;
  border-top:4px solid $mall-color;
  background-color:#fff;
  margin-left:10px;
  margin-top:10px;
  .main-right-left-image{
    position:relative;
    left:-40px
}
  .main-right-right-image{
    position:relative;
    left:40px
  }
}
.main-item-content{
  .mall-item:nth-child(4n){
    margin-right:0;
  }
  .mall-item{
    width:339px;
    height:309px;
    padding:10px;
    margin-right:14px;
    margin-bottom:15px;
    background-color:#fff;
    border:1px solid #e7dceb;
    .mall-item-img{
      width:318px;
      height:220px
    }
    .mall-item-title{
      margin-top:10px;
      margin-bottom:10px
    }
    a{
      color:#000;
      font-size:14px;
    }
    .sores{
      font-size:20px
    }
    .btn-mall{
      width:100px;
      height:28px;
      font-size:14px;
      padding:2px
    }
  }
}
.friend-links{
  a{
    margin-right:12px;
    color:#9b7aa5;
  }
  a:nth-child(14n){
    margint-right:0
  }
}
.mall-footer{
  a{
    color:#fff;
  }
  padding:25px;
  color:#fff;
  height:60px;
  background-color:$mall-deep-color;
}
.detail-item-area{
  width:1132px;
  height:411px;
  background-color:#fff;
  padding:15px;
  .detail-item-img-area{
    width:420px;
    margin-right:15px;
  }
}
.mall-empty-tag{
  display:inline-block;
  padding:0 10px;
  height:32px;
  line-height:30px;
  font-size:12px;
  border:1px solid #da205b;
  color:#da205b;
  margin-right:5px;
}
.detail-item-info-area{
  width:662px;
  height:363px;
  .el-input-number{
    width:130px
  }
  .btn-mall{
    width:initial;
    height:initial;
    border-radius:0px;
    padding:5px;
  }
}
.detail-price-area{
  background-color:#f6f8fd;
  .price-num{
    color:#da205b;
    font-size:20px;
  }
}
.detail-item-bot-area{
  width:1132px;
  .detail-item-bot-area-nav{
    height:40px;
    background-color:$mall-deep-color
  }
  .detail-item-bot-ul{
    padding:0;
    li{
      text-align:center;
      list-style: none;
      float:left;
      line-height:2;
    }
    a{
      color:#fff;
      display:block;
      font-size:20px;
      width:112px;
      height:40px
    }
    .active{
      background-color:$mall-color
    }
  }
}
.bot-detail-item-info{
  background-color:#fff;
  padding:15px;
}

.bot-detail-item-text{
  margin-top:15px;
  background-color:#fff;
  margin-bottom:15px;
}
.bot-evaluation-area{
  width:1132px;
  .bot-evaluation-tags-area{
    padding:15px;
    background-color:#f6f8fd;
    .tags-area{
      width:1060px;
    }
    .mall-empty-tag{
      margin-right:50px;
      margin-left:10px;
      margin-bottom:10px;
    }
  }
  .evaluation-select-area{
    background-color:#e5ebf9;
    height:30px;
    line-height:2.5;
    padding:0 5px;
    .evaluation-area{
      display:inline-block;
      margin-right:60px;
    }
  }
  .evaluation-show-list{
    background-color:#fff;
    .evaluation-show-item{
      padding:15px;
      height:85px;
      border-bottom:1px solid #e5e1e6;
      margin-bottom:5px;
      .customer-name{
        margin-right:40px;
      }
    }
  }
}
.detail-right-area{
  margin-left:26px;
  .detail-online-list{
    width:241px;
    height:183px;
  }
}
.detail-online-title{
  background-color:#e5ebf9;
  height:50px;
  padding-top:10px;
}
.detail-list-item{
  width:241px;
  background-color:#fff;
  padding-top:10px;
  padding-bottom:10px;
  li{
    list-style:none;
    font-size:16px;
    margin-bottom: 10px;
  }
}
.submit-title-area{
  background-color:#e5ebf9;
  height:40px;
  padding-top:10px;
}
.submit-confirm-list{
  background-color:#fff;
  min-height:230px;
  .el-input-number{
    width:120px;
  }
  th{
    text-align:center;
    color:#000;
    font-weight:normal
  }
  td{
    text-align:center;
  }
}
.delivery-address{
  min-height:98px;
  padding:20px 10px;
  background-color:#fff;
  .mall-empty-tag{
    width:160px;
    height:26px;
  }
  .mall-empty-tag-selected {
    background-image: url("../images/comfirm.png");
    background-repeat:no-repeat;
    background-position: bottom right;
  }
}
.submit-other{
  background-color:#fff;
  padding:10px;
  margin-bottom:15px
}
.submit-other-area{
  width:1020px;
}
.search-left{
  width:1060px;
  .search-item-control{
    border:1px solid #021b79;
    font-size:0;
  }
  .search-active{
    background-color:#021b79;
    a{
      color:#fff;
    }
  }
  .search-control-item{
    display:inline-block;
    min-width:80px;
    height:37px;
    text-align:center;
    line-height: 2.5;
    border:1px solid #021b79;
    a{
      font-size:16px
    }
  }
  .search-type{
    margin-top:15px;
    font-size:0;
    .search-control-item{
      width:140px;
      height:28px;
      margin-bottom:10px;
      line-height: 2;
    }
  }
}
.search-content{
  .mall-item{
    margin-right:21px;
  }
  .mall-item:nth-child(3n){
    margin-right:0;
  }
  .mall-item:nth-child(4n){
    margin-right:21px;
  }
  .search-4-item{
    width:255px;
    height:240px;
    padding:10px;
    background-color:#fff;
    margin-right:13px;
    margin-bottom:13px;
  }
  .search-4-item:nth-child(4n){
    margin-right:0;
  }
}
.search-right{
  width:323px;
  margin-left:17px;
  .unit-rank{
    background-color:#fff;
    position:relative;
  }
  .unit-rank-charts{
    width:293px;
    height:521px;
  }
  .services-rank{
    margin-top:15px;
    background-color:#fff;
    position:relative;
  }
  .services-rank-charts{
    width:293px;
    height:521px;
  }
}
.charts-control{
  font-size:0;
  position: absolute;
  top: 43px;
  z-index: 1;
  left: 43px;
  .btn-mall-empty{
    border-radius:0;
  }
}
.page-sidebar-expanded{
.content-wrapper{
  padding-left:220px;
}
}
.manager-list{
  .btn-mall{
    width:100px;
  }
}
.order-list-info{
  background-color:#fff;
  margin-top:15px;
}
.sure-area{
  padding:15px;
  margin-bottom:15px;
  .el-rate{
    line-height:2.5;
  }
}
.nav-sidebar{
  width:221px !important
}



