<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
</head>
<body>
<div id="app-7">
    <ol>
        <test-item v-for="item in spanList" v-bind:test="item" v-bind:key="item.id">

        </test-item>
    </ol>
</div>
<div id="app-8">
    <ol>
        <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id">
        </todo-item>
    </ol>
</div>
<div id="example">
    <my-component></my-component>
</div>

<script type="text/javascript">
    Vue.component('my-component',{
        template:'<div>A custom component!</div>'
    })
    new Vue({
        el:'#example'
    })
</script>

<!--组件之间通信-->
<div id="propDemo">
    <input v-model="parentMsg"/>
    <child v-bind:my-message="parentMsg"></child>
</div>
<script type="text/javascript">
    var propDemo = new Vue({
        el:'#propDemo',
        data:{
            parentMsg:'Message from parent'
        },
        components:{
            child:{
                props:['myMessage'],
                template:'<span>{{myMessage}}</span>'
            }
        }
    })
</script>

<!--注册组件-->
<div id="extendComponent">
    <first-component></first-component>
    <inner-component></inner-component>
</div>
<script type="text/javascript">
    var firstComponent = Vue.extend({
        template:'<div>This is my first component</div>'
    })
//    全局组件注册
    Vue.component('first-component',firstComponent);
    var extendComponent = new Vue({
        el:'#extendComponent',
        component: {
            innerComponent:{
                template: '<div>This is my inner component</div>'
            }
        }
    })
</script>

<div id="counter-event-example">
    <p>{{total}}</p>
    <button-counter v-on:increment="incrementTotal"></button-counter>
    <button-counter v-on:increment="incrementTotal"></button-counter>
</div>
<script type="text/javascript">
    Vue.component('button-counter',{
        template:'<button v-on:click="increment">{{counter}}</button>',
        data:function(){
            return{
                counter:0
            }
        },
        methods:{
            increment:function(){
                this.counter +=1;
                this.$emit('increment')
            }
        }
    })
    new Vue({
        el:'#counter-event-example',
        data:{
            total:0
        },
        methods:{
            incrementTotal:function(){
                this.total +=1
            }
        }
    })
</script>
</body>
<script type="text/javascript">
    var app7 = new Vue({
        el:'#app-7',
        data:{
            spanList:[
                {id:0,text:'蔬菜11'},
                {id:1,text:'奶酪11'},
                {id:2,text:'随便其他什么人吃的东西11'}
            ]
        }
    })

    var app8 = new Vue({
        el: '#app-8',
        data: {
            groceryList: [
                { id: 0, text: '蔬菜' },
                { id: 1, text: '奶酪' },
                { id: 2, text: '随便其他什么人吃的东西' }
            ]
        }
    })

</script>
</html>
