<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/component.js"></script>
</head>
<body>
<!--全局注册实现组件的方法-->
<div id="gfireComponent">
    <my-component></my-component>
</div>
<script>
//    使用Vue.extend创建组件
    var myComponent = Vue.extend({
        template:'<div>This is my first component!</div>'
    })
//使用component注册为全局组件
    Vue.component('my-component',myComponent)
    new Vue({
        el:'#gfireComponent'
    })
</script>
<!--将组件改为局部注册的方法-->
<div id="components">
    <my-components></my-components>
</div>
<script>
    var myComponents = Vue.extend({
        template:'<div>This is my components</div>'
    })

    new Vue({
        el:'#components',
        components:{
            'my-components':myComponents
        }
    })
</script>

<div id="fatherAchild">
<parent-component></parent-component>
</div>
<script>
    var Child = Vue.extend({
        template:'<p>This is just a kid</p>'
    })
    var Parent = Vue.extend({
        template:'<div><p>This is a Parent Component</p><child-component></child-component></div>',
        components:{
            'child-component':Child
        }
    });
    Vue.component('parent-component',Parent);
    new Vue({
        el:'#fatherAchild'
    })
</script>

<!--使用script标签进行组件注册-->
<div id="app">
<my-component></my-component>
<my-component2></my-component2>
</div>
<script type="text/x-template" id="myComponent">
    <div>This is a myComponent!</div>
</script>
<template id="myComponent2">
    <div>This is a myComponent2!</div>
</template>
<script>
    Vue.component('my-component',{
        template:'#myComponent'
    })
    Vue.component('my-component2',{
        template:'#myComponent2'
    })
    new Vue({
        el:'#app'
    })
</script>
<!--使用prop进行父子之间的数据传递-->
<h3>propFather开始</h3>
<div id="propFather">
    {{father}}
    <prop-child v-bind:child-message="father" v-model="father"></prop-child>
</div>
<h3>propFather结束</h3>
<template id="propChild">
    <div>
        <h2>{{childMessage}}</h2>
        <input :value="childMessage" v-on:input="updateData($event.target.value)">
    </div>
</template>
<script>
    var propChild = Vue.extend({
        props:['childMessage'],
        template:'#propChild',
        methods:{
            updateData:function(value){
                this.$emit('input',value);
            }
        }
    })
    new Vue({
        el:'#propFather',
        data:{
            father:'faaaa'
        },
        components:{
            'prop-child':propChild
        },
        methods:{

        }
    })
</script>
<!--使用prop进行父子之间的数据传递结束-->
<!--父子组件之间的通信-->
<template id="myChild">
    <div>
        <span>子组件</span>
        <table>
            <tr>
                <td>name:</td>
                <td>{{myName}}</td>
                <td><input :value="myName" v-on:input="updateValue($event.target.value)"></td>
            </tr>
        </table>
    </div>
</template>
<template id="myInput">
    <div>
        <p>myInput</p>
        <input :value="value" v-on:input="update($event.target.value)">
    </div>
</template>

<!--利用v-model实现双向数据绑定-->
<div id="app2">
    <div>
        父组件
    </div>
    <table>
        <tr>
            <td>name:</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>age:</td>
            <td>{{age}}</td>
        </tr>
    </table>
    <my-child v-model="name" :my-name="name"></my-child>
    <my-child v-model="age" :my-name="age"></my-child>
    <my-input v-model="age" :value="age"></my-input>
</div>
<script>
    Vue.component('my-input',{
        template:'#myInput',
        props:['value'],
        methods:{
            update:function(value){
                this.$emit('input',value);
            }
        }
    })
    Vue.component('my-child',{
        template:'#myChild',
        props:['myName','myAge'],
//        data:function(){
//            return{
//                newName:this.myName,
//                newAge:this.myAge,
//            }
//        },
        methods:{
            updateValue:function(value){
                this.$emit('input',value);
            }
        }
    })
    var vm = new Vue({
        el:'#app2',
        data:{
            name:'foo',
            age:'12'
        }
    })
</script>
<!--.sync同步方法-->
<div id="app3">
    <div>父组件</div>
    <input v-model="father">
    <child-three :cfather.sync="father"></child-three>
</div>
<template id="app-Component">
    <div>
        <p>child组件</p>
        <p>{{cfather}}</p>
        <input v-model="value">
    </div>
</template>
<script>
    Vue.component('child-three',{
        template:'#app-Component',
        props:['cfather'],
        data(){
            return{
                value:this.cfather
            }
        },
        watch:{
            value:function(newValue,oldValue){
                this.$emit('update:cfather',newValue);
            }
        }
    })
    new Vue({
        el:'#app3',
        data:{
            father:123
        }
    })
</script>
<!--自定义事件开始-->
<template id="myEventChild">
    <button type="button">传递数据</button>
</template>
<div id="myEvent">

</div>
<script>
    var child = Vue.extend({

    })
    new Vue({
        el:'#myEvent',
        data:{
            father:''
        },
        components:{

        }
    })
</script>
<!--自定义事件结束-->
</body>
</html>
