<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tab</title>
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<style type="text/css">
    .tab{
        width:200px;
        height:200px;
        background-color:grey;
        color:#fff;
    }
    .tab-title{
        float:left
    }
</style>
<body>
<div id="app">
    <h2>tab1</h2>
    <div>
        <a href="javascript:void(0)" id="1" onclick="show(this)">tab1</a>
        <a href="javascript:void(0)" id="2" onclick="show(this)">tab2</a>
        <a href="javascript:void(0)" id="3" onclick="show(this)">tab3</a>
        <a href="javascript:void(0)" id="4" onclick="show(this)">tab3</a>
    </div>
    <div class="tab" v-if="seen === '1'">
        {{seen}}
    </div>
    <div class="tab" v-if="seen === '2'">
        {{seen}}
    </div>
    <div class="tab" v-if="seen === '3'">
        {{seen}}
    </div>
</div>

<div id="app2">
    <ul style="overflow:auto">
        <li class="tab-title" v-for="(item,index) in tab">
            <a href="javascript:void(0)" v-on:click="switchTab(index)">{{item.text}}</a>
        </li>
    </ul>
    <div v-for="(item,index) in tab" v-if="item.curr === show">
        {{item.text}}
    </div>
</div>
</body>
<script type="text/javascript">
    var tab1 = new Vue({
        el:'#app',
        data:{seen:''},
        methods:{
            show:function(){
                console.log(this)
            }
        }
    })
    function show(node){
        var tabNum = node.getAttribute('id');
        tab.seen = tabNum;
    }
    var tabs = {
        tab:[{text:'tab1',tabNum:0,curr:0},{text:'tab2',tabNum:1,curr:1}],
        show:''
    };
    var tab2 = new Vue({
        el:'#app2',
        data:tabs,
        methods:{
            switchTab:function(num){
                console.log(tabs.show);
               tabs.show = num;
            }
        }
    })
</script>
</html>