<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科信商城</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="js/element2.11/lib/theme-chalk/index.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
<div id="app">
    <div class="main-container">
        <div class="mall-header clearfix">
            <img src="images/kxsc.png" class="header-title-img left">
        </div>
    </div>
    <div class="main-container clearfix">
        <div class="submit-confirm-area">
            <div class="submit-title-area">
                <div class="text-color charts-title">
                    <p>确认订单信息</p>
                </div>
            </div>
            <div class="submit-confirm-list">
                <template>
                    <el-table :data="tableData" style="width: 100%">
                        <el-table-column label="商品名称" width="400px">
                            <template scope="scope">
                                <div class="clearfix">
                                    <image class="left" :src="scope.row.image"/>
                                    <div class="left" style="margin-left:5px;font-weight:bold;line-height:3.5">{{scope.row.name}}</div>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="content" label="商品内容" >
                        </el-table-column>
                        <el-table-column prop="price" label="消耗积分">
                        </el-table-column>
                        <el-table-column label="数量">
                            <template scope="scope">
                                <el-input-number v-model="scope.row.count"  :min="1" :max="10" label="描述文字"></el-input-number>
                            </template>
                        </el-table-column>
                        <el-table-column prop="total" label="小计">
                        </el-table-column>
                    </el-table>
                </template>
            </div>
            <div class="order-list-info">
                <p>订单编号:123456789</p>
                <p>卖家名称:科信支队</p>
                <p>收货信息:云南省昆明市盘龙区万宏路奥斯迪商务中心14楼 小李子  18313976275</p>
                <p>成交时间:2018-1-10    11:30</p>
            </div>
            <div class="submit-title-area">
                <div class="text-color charts-title">
                    <p>提交评价</p>
                </div>
            </div>
            <div class="sure-area">
                <el-form>
                    <el-form-item label="及时评价时间" label-width="100px">
                        <el-rate v-model="value1" score-template="{value}"></el-rate>
                    </el-form-item>
                </el-form>
                <el-form>
                    <el-form-item label="卖家服务态度" label-width="100px">
                        <el-rate v-model="value2"></el-rate>
                    </el-form-item>
                </el-form>
                <el-form>
                    <el-form-item label="卖家服务效率" label-width="100px">
                        <el-rate v-model="value3"></el-rate>
                    </el-form-item>
                </el-form>
                <el-form>
                    <el-form-item label="卖家服务结果" label-width="100px">
                        <el-rate v-model="value4"></el-rate>
                    </el-form-item>
                </el-form>
                <p>其他评价</p>
                <textarea style="width:400px" rows="10"></textarea>
                <div style="clear:both"></div>
            </div>
            <button class="btn btn-mall right" style="margin-bottom:20px">提交评价</button>
        </div>
    </div>
    <div class="mall-footer">
        <div class="main-container clearfix">
            <a href="#">关于我们</a>
            <a href="#">版权声明</a>
            <a href="#">最新系统</a>
            <a href="#">VRF协议</a>
            <p class="right">Copyright©2017滇 ICP备10011451号-18</p>
        </div>
    </div>
</div>
</body>
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/bootstrap.js" type="text/javascript"></script>
<script src="js/echarts.js" type="text/javascript"></script>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/element2.11/lib/index.js" type="text/javascript"></script>
<script>
    var Main = {
        data() {
            return {
                value1:0,
                value2:0,
                value3:0,
                value4:0,
                tableData: [{
                    image:'images/confirm-list-item.png',
                    name: '红河州公安机关司法鉴定中心 实验室管理系统',
                    content: '依据xxxxxxx,完成xxxxxxxxxxx',
                    price: '600积分',
                    count:1,
                    total:'600积分'
                },]
            }
        },
        methods:{
            handleChange(){
                console.log(12)
            }
        }
    }
    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#app')
</script>
</html>